In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('../joyful-pandas-master/data/table.csv')
df.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

# append：添加行；assign：添加列

## append添加行

### （1）利用序列添加行，必须指定name

In [2]:
df_append = df.loc[:3,['Gender','Height']].copy()
df_append

  Gender  Height
0      M     173
1      F     192
2      M     186
3      F     167