# 第1章 Pandas基础

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/table.csv')
df.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

### 删除列drop，del，pop

### 可用assign添加列,但不会在原DataFrame上直接修改

In [6]:
import numpy as np
df.assign(log_Math = np.log(df.Math)).head(1)

  School Class    ID Gender   Address  Height  Weight  Math Physics  log_Math
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+  3.526361

### 可以根据类型选择列select_dtypes

In [8]:
df.select_dtypes('number').head(3)

     ID  Height  Weight  Math
0  1101     173      63  34.0
1  1102     192      73  32.5
2  1103     186      82  87.2

### nunique显示有多少个唯一值，unique显示所有的唯一值

In [9]:
df.Math.nunique()

35

### count返回**非缺失**元素的个数

### info返回有多少列，有多少缺失值，每列的类型

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
School     35 non-null object
Class      35 non-null object
ID         35 non-null int64
Gender     35 non-null object
Address    35 non-null object
Height     35 non-null int64
Weight     35 non-null int64
Math       35 non-null float64
Physics    35 non-null object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.5+ KB

### 用idxmax返回最大值的索引

In [14]:
df.set_index('ID').Math.idxmax()

1201

### nlargest返回最大的前几个元素值，nsmallest类似

In [16]:
df.Math.nlargest(n=3)

5     97.0
28    95.5
11    87.7
Name: Math, dtype: float64

### clip对超过或者低于某些值的数进行截断

In [24]:
df.Math.clip(60,90).mean()

68.8

### mean(axis=1)是对行求平均，默认axis=0是对列

In [29]:
len(df.mean(axis=1))

35